/original/
/build/
/asm/
/assets/
/tools/bin/
/objdiff.json
/.venv/
__pycache__/
*.pyc
*.bin
*.cue
*.iso
*.img
*.exe
*.EXE
SLUS_*
*.HOG
*.TZP
*.TIM
*.STR
*.VB
*.VH
*.SEP
*.XA
*.DUM
*.DAT
*.CCS
SYSTEM.CNF
*.o
*.elf
*.map